<?php
$this->assign('title' , 'Utilitaire CSV');
?>

<div class="box rte">
    <div class="row" style="position: relative">
        <div class="col-md-6">
            <?= $this->Form->create(null, ['controller' => 'Pages', 'action' => 'uploadCsv', 'type' => 'file']) ?>
                <label for="">Importer un fichier CSV</label>
                <?= $this->Form->file('csv_file') ?>
                <?= $this->Form->submit('Importer', ['class' => 'btn btn-primary']) ?>
            <?= $this->Form->end() ?>
        </div>

        <div class="col-md-6" style="position: absolute; bottom: 0; left: 50%">
            <?= $this->Html->link('<i class="fas fa-times" style="margin-right: 10px"></i>Supprimer toutes les données',
                ['controller' => 'Pages', 'action' => 'emptyData', true],
                ['confirm' => 'Êtes-vous sûr de vouloir supprimer toutes les données ?', 'class' => 'btn btn-primary', 'escape' => false]
            ) ?>
        </div>
    </div>
</div>

<?php
$titles = array(
    array(
        'title' => 'Désignation produit',
        'width' => '30'
    ),
    array(
        'title' => 'Gencode',
        'width' => '10 text-middle'
    ),
    array(
        'title' => 'Nombre de lignes',
        'width' => '10 text-right'
    ),
    array(
        'title' => 'Exporter en CSV',
        'width' => '15 text-center'
    )
);

echo
$this->Bs->row() .
    $this->Bs->col('xs12',array('class' => '')) .
        '<div class="box rte"> ' ;
            echo
            '<br />' .
            '<br />' .
            $this->Bs->table($titles, array('striped', 'hover'), false) ;
                foreach($produits as $produit) {
                    echo
                    $this->Bs->cell($produit->designation_produit) .
                    $this->Bs->cell($produit->code_ean) .
                    $this->Bs->cell($count[$produit->designation_produit], 'text-right') .
                    $this->Bs->cell(
                        $this->Html->link('<i class="fa fa-download"></i>', ['action' => 'exportCsv', $produit->code_ean], ['escape' => false, 'class' => 'btn bg-blue has-tip', 'title' => 'Exporter les lignes de ce produit en CSV']), 'text-center'
                    );
                }
            echo
            $this->Bs->endtable() .
        '</div>' .
$this->Bs->close(2);
